<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<title>エラー</title>
</head>
<body>
  <header>
    <h3 layout:fragment="custom-header"></h3>
  </header>
  <section layout:fragment="content">

  　<!--  error コンテンツ -->
    <div class="jumbotron">
      <h3>このページにアクセスできません！！！</h3>
      <br /> <br />
    </div>
  　<!--  error コンテンツ -->

  </section>
</body>
</html>