<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8" />
<title>Thymeleaf Test</title>
</head>
<body>
  <header>
    <h3 layout:fragment="custom-header">4:フィールドフラグメント</h3>
  </header>
  <section layout:fragment="content">

    <!-- フォーム -->
    <form role="form" id="contactForm" th:action="@{/contacts/save}" th:object="${contact}"
      action="#" style="padding: 10px;" method="post">
      <!-- 氏名姓 : textfield-->
      <div th:include="fragment/fragField01 :: textFormGroup"
        th:with="fgLabel='姓', fgId='simeiSei', fgLCol='col-md-2', 
      fgICol='col-md-10', fgType='text', fgLen='18'"></div>
      <!-- 趣味 : checkbox -->
      <div th:include="fragment/fragField01 :: checkboxFormGroup"
        th:with="fgLabel='趣味', fgId='syumi', selItems=${syumiItems}, 
      fgLCol='col-md-2', fgList='syumiList'"></div>
      <!-- 性別 : radiobutton -->
      <div th:include="fragment/fragField01 :: radioFormGroup"
        th:with="fgLabel='性別', fgId='seibetu', selItems=${seibetuItems},
      fgLCol='col-md-2'"></div>
      <!-- テーマ : select -->
      <div th:include="fragment/fragField01 :: selectFormGroup"
        th:with="fgLabel='連絡先種別', fgId='syubetu', fgLCol='col-md-2',
      fgICol='col-md-10', selItems=${contactSyubetuItems}"></div>
    </form>

  </section>
</body>
</html>